.center-text{
    align-content: center;
}

img {
	max-width: 100%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding-top: 25px;
}