body{
font-family: -apple-system-font, helvetica;
}

img {
	max-width: 100%;
}

.user-image {
    animation: userImageFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 0%;
    -webkit-animation: userImageFrames linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 0%;
    -moz-animation: userImageFrames linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 0%;
    -o-animation: userImageFrames linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 0%;
    -ms-animation: userImageFrames linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 0%;
}

@keyframes userImageFrames {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes userImageFrames {
    0% {
        -moz-transform: rotate(0deg);
    }

    20% {
        -moz-transform: rotate(15deg);
    }

    40% {
        -moz-transform: rotate(-10deg);
    }

    60% {
        -moz-transform: rotate(5deg);
    }

    80% {
        -moz-transform: rotate(-5deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes userImageFrames {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes userImageFrames {
    0% {
        -o-transform: rotate(0deg);
    }

    20% {
        -o-transform: rotate(15deg);
    }

    40% {
        -o-transform: rotate(-10deg);
    }

    60% {
        -o-transform: rotate(5deg);
    }

    80% {
        -o-transform: rotate(-5deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes userImageFrames {
    0% {
        -ms-transform: rotate(0deg);
    }

    20% {
        -ms-transform: rotate(15deg);
    }

    40% {
        -ms-transform: rotate(-10deg);
    }

    60% {
        -ms-transform: rotate(5deg);
    }

    80% {
        -ms-transform: rotate(-5deg);
    }

    100% {
        -ms-transform: rotate(0deg);
    }
}


.shopinfo p { margin: 5px 0 !important; }
.pull-right { float: right; }

#btnIraDetalles, #btnIraPagos { display: none; }

#logo{
	display:block;
}

.center-image{
	display:block;
	margin:20px auto 20px auto;	
}

#footer{
font-size:0.65em;
color:#888;
}

#header{
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.29, #8FC8F7),
	color-stop(1, #072C49)
);
background-image: -webkit-linear-gradient(top, #8FC8F7 29%, #072C49 100%);
background-image: linear-gradient(to top, #8FC8F7 29%, #072C49 100%);
}

#credits-text{
	font-size:0.85em;	
}

h2{
	margin-bottom:0px;
}

h2 + h6{
	margin-top:0px;	
}


.sedes-buttons{
	text-align:center;
}

h4{	
	margin-bottom:0px;
}

h4 + h6{
	margin-top:0px;	
}

h5{
	margin-bottom:0px;	
}

h5 + p{
	margin-top:0px;
}

.directions{
	font-size:11px;	
}

#alumnos{	
	display:block;
	margin:5px auto -2px auto;	

}

.img-text{
	display:block;
	margin:18px auto 18px auto;
}
.text-app{
	font-size:13px;
	line-height:20px;
}

.news-title{
	background:#000;
	padding:5px 5px 5px 15px;
	color:#FFF;
}

h3{
	margin-bottom:0px;	
}

h3 + p{
	margin-top:0px;	
}

.date-buttons{
	text-align:right;	
}

.important{
	margin-bottom:0px;
	color:#666;	
}

h5 + h3{
	margin-top:0px;
}

.tool-tip{
	font-size:7px;	
}